<?xml version="1.0"?>
<model>
  <name>Iris with Battery</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Quinn Thibeault</name>
    <email>qthibeau@asu.edu></email>
  </author>

  <maintainer email="qthibeau@asu.org">Quinn Thibeault</maintainer>

  <description>
    Starting with iris_with_ardupilot
    Add battery plugin
  </description>

  <depends>
    <model>
      <uri>model://iris_with_ardupilot</uri>
      <version>1.0</version>
    </model>
  </depends>
</model>
